<!DOCTYPE html>
<html ng-app="dbApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="assets/css/libs/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/libs/main.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/base.css"/>

    <script src="assets/js/libs/underscore-1.6.0.min.js"></script>
    <script src="assets/js/libs/jquery.min.js"></script>
    <script src="assets/js/libs/angular.min.js"></script>
    <script src="assets/js/libs/angular-route.js"></script>
    <script src="data/33.js"></script>
    <script src="assets/js/bottom.js"></script>
    <style>
        #view {
            position: relative;
            margin: 21px 0 0 0;
        }

        .dg{
            position:absolute;
            left:864px;
        }
    </style>
</head>
<body>

<div id="view" class="wraper-4 bg-3">


    <ul class="list-3 dg" ng-controller="bMarginCtrl">
        <li>
            <i>-</i>
            <em ng-repeat="v in bdgs track by $index" ng-bind="v"></em>
        </li>
    </ul>

    <ul class="list-3" ng-controller="bMarginCtrl">
        <li ng-repeat="(k, item) in bMarginList">
            <i ng-bind="k" ng-if="item"></i>
            <em ng-repeat="v in item.margin track by $index" ng-bind="v"></em>
        </li>
    </ul>

</div>

</body>
</html>