@import "../../css/basic/include/scss.scss";

*{
  box-sizing: border-box;
}
body{
  font-family: sans-self;
  overflow-y: scroll;
}

button{
  -webkit-appearance: none;
  padding:8px 12px;
  border:none;
  color:#fff;
  background: #BDBCBC;
  margin-right: 1px;
}

.flex-mr{
  @extend .flex-middle;
  -webkit-justify-content:flex-end;
  justify-content:flex-end;
}

.panel{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  background:#fff;

  > header:first-child{
    @extend .flex-mr;
    min-height:48px;
    padding:0 15px;
    background:#f0f0f0;
  }
}

body{
  padding:96px 20px 20px 20px;
}
.ball {
  $size: 32px;
  display: inline-block;
  width: $size;
  line-height: $size;
  margin: 0 5px;
  text-align: center;
  border-radius: $size/2;
  background: #E2E2E2;
  color: #4B4B4B;
  cursor: pointer;
  &.selected {
    color: #fff;
    background: red;
  }
}

.prop{
  position: relative;
  display: inline-block;
  padding-left:1em;
  >span{
    margin:0;
  }
  [role=sizerBox]{
    display: none;
    position: absolute;
    z-index: 10;
    width:560px;
    padding:15px;
    background: #fff;
    box-shadow: 0 0 4px 1px #BBB;
    border: solid 1px #B6B6B6;
    input{
      padding: 5px 8px;
    }
  }
}

.next-btn{
  display: inline-block;
  width:0.7em;
  height:0.7em;
  border-right:solid 1px #ccc;
  border-top:solid 1px #ccc;
  transform: rotate(45deg);
  position:absolute;
  top:4px;
  right:0;
}



.combBox {
  margin-bottom:30px;
  padding: 0 10px 20px 10px;
  border: solid 1px blue;
  -webkit-user-select: none;
  user-select: none;
  header {
    @extend .flex-middle;
    position: relative;
    top: -36px;

    h2 {
      @include flex-radio(1);
    }
    menu {
      @include flex-radio(1);
      text-align: right;

      label{
        margin:0 0 0 10px;
      }
    }
  }

  section {
    .li {
      @extend .flex-middle;
      margin:10px 0;
      > .name {
      }
      > .numbers {

      }
      > .use {
        margin-left:100px;
        .ball.selected{
           background: blue;
        }
      }
    }
  }

}


.groupBox{
  display: none;
  padding-top:48px;
  .list{
    li{
      @extend .flex-middle;
      font-size:18px;
      padding:20px 10px;
      border-bottom:solid 1px #ccc;

      &.selected{
        background:#FADCDE;
      }
    }
  }
}


[data-prop=original]{
  min-width:10em;
}
[data-prop=cys]{
  min-width:6em;
}
[data-prop=uniq]{
  min-width:10em;
}

[data-prop=tags],[data-prop=noPass]{
  margin-left:1em;
}
[data-prop=noPass]{
  min-width: 3em;
}

[data-prop=first], [data-prop=second],[data-prop=third]{
  min-width:3em;
}

[data-prop="allOddOrEven"]{
  min-width:3em;
}
[data-prop="overlap"]{
  min-width:7em;
}
[data-prop="cysRadio"]{
  min-width:5em;
}
[data-prop="same"]{
  min-width:7em;
}
[data-prop="sn"]{
  min-width:8em;
}