@import "../../css/basic/include/scss.scss";

.inline{
  display: inline-block;
}

.flex-mr{
  @include flex();
  -webkit-justify-content:flex-end;
  justify-content:flex-end;
}

.panel{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  background:#fff;

  > header:first-child{
    @extend .flex-mr;
     min-height:48px;
    padding:0 15px;
    background:#f0f0f0;
  }
}




body{
  padding:88px 20px 20px 20px;
}
.ball {
  $size: 32px;
  display: inline-block;
  width: $size;
  line-height: $size;
  margin: 0 5px;
  text-align: center;
  border-radius: $size/2;
  background: #E2E2E2;
  color: #4B4B4B;
  cursor: pointer;
  &.selected {
    color: #fff;
    background: red;
  }
}

.groupBox {
  margin-bottom:30px;
  padding: 0 10px 20px 10px;
  border: solid 1px blue;
  -webkit-user-select: none;
  user-select: none;
  header {
    @extend .flex-middle;
    position: relative;
    top: -28px;

    h2 {
      @include flex-radio(1);
    }
    menu {
      @include flex-radio(1);
      text-align: right;

      label{
        margin:0 0 0 10px;
      }
    }
  }

  section {
    .li {
      @extend .flex-middle;
      margin:10px 0;
      > .name {
      }
      > .numbers {

      }
      > .use {
        margin-left:100px;
        .ball.selected{
           background: blue;
        }
      }
    }
  }

}


.combineBox{
  display: none;
  .list{
    li{
      padding:15px;
      border-bottom:solid 1px #ccc; 
    }
  }
}