<!DOCTYPE html>
<html ng-app="dbApp">
<head>
    <meta charset="UTF-8">
    <title>bottom</title>
    <link rel="stylesheet" type="text/css" href="../css/vendor/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="../css/vendor/main.css"/>
    <link rel="stylesheet" type="text/css" href="../css/common/base.css"/>

    <script src="../js/vendor/underscore-1.6.0.min.js"></script>
    <script src="../js/vendor/jquery.min.js"></script>
    <script src="../js/vendor/angular.min.js"></script>

    <script src="../js/common/getData.js"></script>
    <script src="../js/common/help.js"></script>
    <script src="../js/common/common.js"></script>
    <script src="../js/common/bottom.js"></script>
    <style>
        body {
            padding: 0 0 0 0;
        }
        input:focus{
            background:blue!important;
            color:#fff;
        }
    </style>
</head>
<body>
<div class="wraper-4 bg-4" ng-controller="bottomCtrl">

    <ul class="list-4">
        <li ng-repeat="item in ng track by $index">
            <em class="t-r" ng-bind="item.num"></em>
        </li>
    </ul>

    <ul class="list-4">
        <li ng-repeat="item in locaList">
            <em ng-repeat="v in item track by $index" ng-bind="v"></em>
        </li>
    </ul>

    <ul class="list-4" ng-if="false">
        <li ng-repeat="item in upList">
            <em ng-repeat="v in item | orderBy:vs:false track by $index" ng-bind="v"></em>
        </li>
    </ul>

    <ul class="list-4">
        <li ng-repeat="item in prevList">
            <em ng-repeat="v in item | orderBy:vs:false track by $index" ng-bind="v"></em>
        </li>
    </ul>

    <ul class="list-4">
        <li ng-repeat="item in nextList">
            <em ng-repeat="obj in item" ng-bind="obj.v" ng-class="obj.over && 'f-red'"></em>
        </li>
    </ul>

    <ul class="list-4">
        <li ng-repeat="item in nextList">
            <em ng-if="!obj.over" ng-repeat="obj in item | orderBy:'v'" ng-bind="obj.v"></em>
            <i ng-if=""></i>
        </li>
    </ul>

</div>

<script>
    $('body').on('click', '.list-4 li', function (e) {
        $(this).toggleClass('disabled');
    });
</script>
</body>
</html>