<!DOCTYPE html>
<html ng-app="dbApp">
<head>
    <meta charset="UTF-8">
    <title>count</title>

    <link rel="stylesheet" type="text/css" href="../css/common/base.css"/>
    <link rel="stylesheet" type="text/css" href="../css/common/common.css"/>

    <script src="../js/vendor/underscore-1.6.0.min.js"></script>
    <script src="../js/vendor/jquery.min.js"></script>
    <script src="../js/vendor/angular.min.js"></script>

    <script src="../../data/33/data.js"></script>
    <script src="../js/common/help.js"></script>
    <script src="../js/common/common.js"></script>

    <script src="../js/common/d-margin.js"></script>

    <style>
        body {
            padding: 0 0 0 0;
            width: 110%;;
        }
        input:focus{
            background:blue!important;
            color:#fff;
        }
    </style>
</head>
<body>
<div class="wraper-4 bg-4" ng-controller="countCtrl">

    <ul class="list-4">
        <li ng-repeat="item in cdm">
            <em class="t-r" ng-bind="item.num"></em>
        </li>
    </ul>

    <ul class="list-4">
        <li ng-repeat="item in sdRef">
            <em ng-repeat="v in item | orderBy:vs:false track by $index" ng-bind="v"></em>
        </li>
    </ul>

<!--    <ul class="list-4">
        <li ng-repeat="item in upRef">
            <em ng-repeat="v in item | orderBy:vs:false track by $index" ng-bind="v"></em>
        </li>
    </ul>-->

    <ul class="list-4">
        <li ng-repeat="item in downRef">
            <em ng-repeat="v in item | orderBy:vs:false track by $index" ng-bind="v"></em>
        </li>
    </ul>

    <ul class="list-4">
        <li ng-repeat="item in countSm">
            <em ng-repeat="v in item.active | orderBy:vs:false  track by $index" ng-bind="v"></em>
        </li>
    </ul>

    <ul class="list-4">
        <li ng-repeat="item in countDm">
            <em ng-repeat="v in item.active | orderBy:vs:false  track by $index" ng-bind="v"></em>
        </li>
    </ul>

    <ul class="list-4">
        <li ng-repeat="item in countUm">
            <em ng-repeat="v in item.active | orderBy:vs:false  track by $index" ng-bind="v"></em>
        </li>
    </ul>


    <div style="position: fixed;bottom:0;width:100%;height: 42px;padding-left:1em;">
        <button ng-click="active('')" ng-class="{active : activeIndex == 'countRm'}" class="btn">ng</button>
        <button ng-click="active('countUm')" ng-class="{active : activeIndex == 'countUm'}" class="btn">上间隔</button>
        <button ng-click="active('countDm')" ng-class="{active : activeIndex == 'countDm'}" class="btn">下间隔</button>
        <button ng-click="active('countSm')" ng-class="{active : activeIndex == 'countSm'}" class="btn">数尾</button>
    </div>


</div>

<script>
    $('body').on('click', '.list-4 li', function (e) {
        $(this).toggleClass('disabled');
    });
</script>
</body>
</html>